<!DOCTYPE html>
<html>
<head><title>{{ .title }}</title></head>
<body>
<div id="container">

</div>
<script type="text/javascript" src="assets/bundle.js"></script>
<script type="text/javascript">
  bootstrap();
</script>
</body>
</html>